<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wonderguerrilla.android.workout" >

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".WorkoutApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".ui.workoutlist.WorkoutListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.workoutlist.WorkoutActivity"/>

        <activity
            android:name=".ui.workoutlist.multipleexercise.ExercisePagerActivity"/>

        <activity
            android:name=".ui.workoutlist.CommitWorkoutActivity"/>
        <activity
            android:name=".ui.workoutlist.CommitStaticCoreWorkoutActivity"/>

    </application>

</manifest>
